@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <a class = "big-ref" asp-controller="Orders" asp-action="Create"><h1 class="display-6">Create new order</h1></a>
    <a class = "big-ref" asp-controller="Orders" asp-action="OrderList"><h1 class="display-6">View order list</h1></a>
</div>
