@{
    ViewData["Title"] = "Order created";
}
<div style="text-align:center;">
    <h1 class="display-5">Order created successfully!</h1>
</div>
<h3 class="display-8">What's next?</h3>
<div style="margin-left:15px;">
    <a class="big-ref" asp-area="" asp-controller="Orders" asp-action="Create"><h1 class="display-6">Create another order</h1></a>
    <a class="big-ref" asp-area="" asp-controller="Orders" asp-action="OrderList"><h1 class="display-6">View order list</h1></a>
    <a class="big-ref" asp-area="" asp-controller="Home" asp-action="Index"><h1 class="display-6">Home page</h1></a>
</div>